//@charset "UTF-8";
@font-face {
    font-family: 'Hannari';
    src: url('./Hannari.otf') format('opentype')
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(24, 23, 24, 0.7);
    font-family: 'Hannari';
    #root {
        width: 100%;
        height: 100%;
        position: relative;
        .media {
            border: solid 10px #906e67;
            box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
        }
        .songInfo {
            position: absolute;
            top: 60%;
            left: 55%;
            z-index: 1;
            dl {
                width: 180px;
                position: relative;
                display: inline-block;
                padding: 4%;
                color: #555;
                font-size: 2vh;
                background: rgba(255, 255, 255, 0.7);
                border-radius: 15px;
                dt {
                    border-radius: 3px;
                    padding: 2%;
                    border-bottom: 2px solid #866868;        
                    background: rgba(253, 231, 237, 0.7);
                }
                dd {
                    padding: 2%;
                }
            }
            dl:before {
                content: "";
                position: absolute;
                top: 50%;
                right: -24px;
                margin-top: -12px;
                border: 12px solid transparent;
                border-left: 12px solid rgba(255,255,255, .8);
          }
        }
        .movie {
            position: absolute;
            top: 50%;
            left: 45%;
            margin: -(256px/2) 0 -(144px/2) 0;
            z-index: 2;
        }
    }
    main {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}
